
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
    url("./assets/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
}

* {
  font-family: "DM Sans";
 
}